.social-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border-radius: 1vh;
}

.name {
  font-size: 10vh;
  text-align:center;
  color:white;
}

.heading-container{
    display: flex;
    justify-content: center;  /* center p horizontally */
    align-items: center; 
    flex-direction:column;   
}

.basicbutton{
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}
.button1 {
    background-color: #fc5296;
    color: white;
  }

.button1:hover {
    background-color: white; 
    color: #fc5296; 
    border: 1.5px solid #fc5296;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing:border-box;
    padding:0;
    margin:0;
  }

.center {
   text-align:center;
  }


.organizations {
    border-radius: 25px;
    padding: 20px;
    width: 100px;
    height: 90px;
   }

.contents {
    position: relative;
    width: 100px;
  }

.img-text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fc5296;
  }

  .contents:hover .overlay {
    opacity: 1;
  }
  .image {
    width: 100px;
    height: 90px;
  }

  .imgContainer{
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

  .slide {
      height:100vh;
      /*background color*/
      box-sizing: border-box;
  }
  
  .slide p{
    margin:0;
}

.slide h3{
    margin:0;
    margin-left:0;
}

  .slide--blue {
      background:#23a6d5;
      color:white;
  }

  .slide--pink {
      background:#e73c7e;
      color:white;
  }

  p {
      color:white;
  }

  h2 {
      color:white;
      font-size:30px;
  }
/*Gradient background: why is it not animating*/
 
  /* Issues:
  - gradient not animating
  - not centered when on mobile screen
  */

.about-section {
    height:100vh;
    color:white;
    background: #e73c7e;
    scroll-snap-align:start;
    align-items:center;
    justify-content:center;
    padding:0;
    
}

.title-section{
    height:100vh;
    justify-content:center;
    align-items:center;    
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    color:white;
    scroll-snap-align:start;
    padding:0vh;
    display:flex;
    border:none;
    
}

.programming-section{
    height:100vh;
    justify-content:center;
    align-items:center;
    color:white;
    background: #fc5296;
    scroll-snap-align:start;
    display:flex;
    padding:0vh;
    flex-direction:column;  
}

.org-section{
    height:110vh;
    justify-content:center;
    align-items:center;
    color:white;
    background: #F18181;
    scroll-snap-align:start;
    padding:0vh;

}
.sps-section{
    height:200vh;
    justify-content:center;
    align-items:center;
    color:white;
    background: #FF79AE;
    scroll-snap-align:start;
    padding:0vh;

}

.begin {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin:0;
}

body{
    background:white;
}

div {
    display:block;
    margin: 0;
}
* {
    margin:0;
    padding:0;
    }

a {
    color: white;
}